################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/Debug
/.vs/Skoda100RC/v15
/__vm

\.vs/__vm/\.vsarduino\.h

\.vs/__vm/Compile\.vmps\.xml

\.vs/__vm/Configuration\.Release\.vmps\.xml

\.vs/ProjectSettings\.json

\.vs/slnx\.sqlite

\.vs/VSWorkspaceState\.json
